<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <title>Termsearch Aggregator</title>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'aggregator/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'aggregator/css/style.css' %}" />

    </head>
<body>

<header class="container-fluid" style="background-color:grey;color:#fff;height:200px;">
  <h1>Termsearch Aggregator</h1>
  <h3>The online search tool for translators</h3>
  <p>Select your language pair, enter the term or expression you are looking for.</p>
  <p>Scroll through the results, or filter them by resource or domain using the filter menu on the left.</p>
</header>


<nav class="navbar navbar-default" data-spy="affix" data-offset-top="200">
    {% include "aggregator/search_form.html" %}
</nav>

<div class="container container-fullwidth">
  {% block content %}
  {% endblock content %}
</div>


<footer>
<!-- place footer here -->
</footer>




</body>
<script src="{% static 'aggregator/js/jquery.min.js' %}" ></script>
<script src="{% static 'aggregator/js/bootstrap.min.js' %}" ></script>

</html>



