{% block form %}
 <form class="nav navbar-form navbar-left form-inline"  action="/aggregator/search" method="post" role="search">
   <div class="form-group">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {{ form.source_language.errors }}
        {{ form.source_language }}

        {{ form.target_language.errors }}
        {{ form.target_language }}

        {{ form.keywords.errors }}
        {{ form.keywords }}
        <button type="submit" class="btn btn-default" id="search-button"><span class="glyphicon glyphicon-search"></span></button>
   </div>
 </form>
{% endblock %}

