<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Termsearch Aggregator</title>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ static('aggregator/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static('aggregator/css/awesome-bootstrap-checkbox.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static('aggregator/css/style.css') }}" />

    </head>
<body>

<header class="container-fluid">
  <div id="navbar" class="  nav navbar-nav navbar-right toprightmenu" style="padding-right:2em;">
     <ul class="nav navbar-nav navbar-right">
         <li><a href="search">Search</a></li>
         <li><a href="about">About</a></li>
         <li><a href="contact" style="padding-bottom:1em; ">Contact</a></li>
         <li><a href="https://github.com/olivmaurel/termsearch"><i class="fa fa-github" ></i></a></li>
     </ul>
  </div>
  <!-- Logo -->
    <div id="logo">
      <h1><a href="search">Termsearch</a></h1>
      <span>All your terminology searches in one place</span>

    </div>
</header>

{% block content %}
{% endblock content %}

<footer>
<!-- place footer here -->
</footer>


</body>
<script src="{{ static('aggregator/js/jquery.min.js') }}" ></script>
<script src="{{ static('aggregator/js/bootstrap.min.js') }}" ></script>


</html>