<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Termsearch Aggregator</title>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ static('aggregator/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static('aggregator/css/awesome-bootstrap-checkbox.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static('aggregator/css/style.css') }}" />
    <link rel="shortcut icon" href="{{ static('aggregator/img/favicon.png') }}"/>

    </head>
<body>

<header class="container-fluid">
  <!-- Top Right Menu -->
  {% include "aggregator/toprightmenu.html" %}
  <!-- Logo -->
    <div id="logo">
      <h1><a href="search">Termsearch</a></h1>
      <span>All your terminology searches in one place</span>

    </div>
</header>

{% block content %}
{% endblock content %}

<footer>
<!-- place footer here -->
</footer>


</body>
<script src="{{ static('aggregator/js/jquery.min.js') }}" ></script>
<script src="{{ static('aggregator/js/bootstrap.min.js') }}" ></script>


</html>